<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-02-25T07:15:02Z</date>
	<key>WorkspacePath</key>
	<string>/Users/mmclinton/Google Drive/UCLA/@Winter 20/COM SCI 32/Programming Assignments/Homework 2/Homework 2/mazestack/mazestack.xcodeproj</string>
</dict>
</plist>
